.App {
  text-align: center;
}

.main {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  display: flex;
  justify-content: center;
  padding:100px 0px;
  min-height: 100vh;
}

.wallet {
  max-width: 500px;
  background: #fff;
  border:1px solid lavender;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 1px 5px 27px 0px rgba(0,0,0,0.2);
}

.activeAccount {
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid khaki;
  background: lightyellow;
}

.buttonDiv {
  margin-top: 20px;
}